[build]
builder = "DOCKERFILE"
dockerfilePath = "Dockerfile"

[deploy]
startCommand = "python start_server.py"
healthcheckPath = "/api/v1/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[deploy.healthcheckProbes]]
path = "/api/v1/health"
initialDelaySeconds = 30
periodSeconds = 30
timeoutSeconds = 10
failureThreshold = 3

